
{% extends 'baseadmin.html' %}

{% block content %}



<main class="mt-5 pt-4">
    <div class='container-fluid'>
        <div class="row">
            <div class= "col-md-12 fw-bold fs-3"> Officemeeting Details </div>
        </div>
        <br>
        <a class="btn btn-primary" href="/adminpanel/admin_officemeeting/today" role="button">Today Meetings</a>
        <a class="btn btn-primary" href="/adminpanel/admin_officemeeting/upcoming" role="button">Upcoming Meetings</a>
        <a class="btn btn-primary" href="/adminpanel/admin_officemeeting/all" role="button">All Meetings</a>
        <a class="btn btn-primary" href="{% url 'admin_create_offcemeeting' %}" role="button">Crete New Meeting</a>
        <a class="btn btn-primary" href="/adminpanel/admin_officemeeting/past" role="button">Past Meetings </a>
     
        <br><br>
    <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Meeting_Agenda</th>
            <th>Description</th>

            <th>Date Time</th>
            <th>
              Employees 
            </th>
          
            <th>Edit</th>
            <th>Delete</th>
  
            
          </tr>
        </thead>
        <tbody>
          <tr> {% for obj in meetings %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{obj.Meeting_Agenda}}</td>
                <td>{{obj.Description}}</td>
                <td>{{obj.datetime}}</td>
                <td>
                  {% for user in obj.user.all %}
                    {{user.username}}<br> 
                  {% endfor %}

                </td> 
                <td><a href="/adminpanel/admin_editdelete_officemeet/{{obj.id}}/edit" class="btn btn-success">Edit</a></td>
              <td><a href="/adminpanel/admin_editdelete_officemeet/{{obj.id}}/delete" class="btn btn-danger">Delete</a></td>


                        
            </tr>
            
        {% endfor %}
        </tbody>

      </table>

    
    <main>



{% endblock %}